.profile-content {
  width: 40%;
  padding: 40px;
  margin-top: 5rem;
  margin-left: 25rem;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(183, 177, 177);
}

.profile-content section {
  width: 60%;
  border: 1px solid rgb(180, 176, 176);
}

.profile-content section h1 {
  border: 1px solid rgb(180, 176, 176);
}

table {
  margin-top: 10px !important;
}

td {
  font-size: 24px;
  border-bottom: 1px solid rgb(180, 176, 176);
}
