.rockets-section {
  font-size: 18px;
  display: grid;
  align-items: center;
  grid-template-columns: 0.4fr 1fr;
  margin: 10px;
  padding: 10px;
}

.rockets-section img {
  width: 75%;
  border-radius: 4px;
  padding: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  height: 2.8rem;
  border: none;
  width: fit-content;
  margin: 0;
  cursor: pointer;
}
